# COGS 108 - Data Checkpoint

# Names

- Thuycam Nguyen
- Shania Ie
- Tiffany Ho
- Shawn Kim
- Karina Sevilla

<a id='research_question'></a>
# Research Question

How have the number of concurrent users for various video game genres been affected by the global pandemic?

# Dataset(s)

Dataset Name: Steam charts <br>
Link to the dataset: https://www.kaggle.com/michau96/popularity-of-games-on-steam <br>
Number of observations: 83,790 <br>
This dataset includes the monthly number of players for various games on steam. These measurements go from the year 2012-2021.<br> <br>

Dataset Name: CDC lockdown by County<br>
Link to the dataset: https://drive.google.com/file/d/1JhUlsJjyl-wYJmSkmCRVPjXkPjzGj6BY/view?usp=sharing<br>
Number of observations:436,739<br>
This dataset includes the lockdown status of different counties in the United States. It has measurements for different quarters throughout the year 2020. <br> <br>

We plan to combine these two datasets together in order to see the relationship between the amount of people in lockdown in the US and video game sales in the US, over time.

# Setup

In [4]:
import pandas as pd
import numpy as np

# Data Cleaning

Describe your data cleaning steps here.

### Steam Dataset

In [5]:
steam_url = "https://raw.githubusercontent.com/tiffanyxho/cogs108_sp21_group30/main/SteamCharts.csv"
steam_df = pd.read_csv(steam_url, index_col=0)
steam_df.head()

,year,month,avg,gain,peak,avg_peak_perc
gamename,,,,,,
Counter-Strike: Global Offensive,2021,February,741013.24,-2196.42,1123485,65.9567%
Counter-Strike: Global Offensive,2021,January,743209.66,25405.91,1124553,66.0893%
Counter-Strike: Global Offensive,2020,December,717803.75,49049.17,1164396,61.646%
Counter-Strike: Global Offensive,2020,November,668754.58,55087.89,1037464,64.4605%
Counter-Strike: Global Offensive,2020,October,613666.69,6816.37,943876,65.0156%

In [6]:
## Clean steam dataset
# Select certain columns
# steam_columns = [""]
# select_steam_df = steam_df[steam_columns]

# Or drop columns we aren't using
select_steam_df = steam_df.drop(labels=['gain'], axis=1)
# Drop null rows
select_steam_df = select_steam_df.dropna()
select_steam_df.head()

,year,month,avg,peak,avg_peak_perc
gamename,,,,,
Counter-Strike: Global Offensive,2021,February,741013.24,1123485,65.9567%
Counter-Strike: Global Offensive,2021,January,743209.66,1124553,66.0893%
Counter-Strike: Global Offensive,2020,December,717803.75,1164396,61.646%
Counter-Strike: Global Offensive,2020,November,668754.58,1037464,64.4605%
Counter-Strike: Global Offensive,2020,October,613666.69,943876,65.0156%

### CDC Dataset

In [7]:
population_county = pd.read_csv("./Datasets/population by county.csv")
population_county.head()

   stateFIPS    State  countyFIPS   County  Year    Value
0          1  Alabama        1001  Autauga  2019   55,869
1          1  Alabama        1003  Baldwin  2019  223,234
2          1  Alabama        1005  Barbour  2019   24,686
3          1  Alabama        1007     Bibb  2019   22,394
4          1  Alabama        1009   Blount  2019   57,826

In [ ]:
## Clean population dataset
# Select certain columns
# population_county = [""]
# select_population_df = population_county[population_columns]

# Or drop columns we aren't using
population_county = population_county.drop(columns=["Data Comment", "Unnamed: 7"])
population_county.head()

### CDC Lockdown Part 1 Dataset

In [8]:
lockdown_1 = pd.read_csv("./Datasets/lockdown by county pt 1.csv")
lockdown_1.isna().sum()

stateFIPS                    0
State                        0
countyFIPS                   0
County                       0
Year                         0
Value                        0
Data Comment            436738
County Order Status          0
Quarter                      0
Unnamed: 9              436738
dtype: int64

In [9]:
## Clean lockdown_part1 dataset
# Select certain columns
# lockdown_1 = [""]
# select_lockdown_1_df = lockdown_1[lockdown_1_columns]

# Or drop columns we aren't using
lockdown_1 = lockdown_1.drop(columns = ["Data Comment", "Unnamed: 9"])
lockdown_1.head()

,stateFIPS,State,countyFIPS,County,Year,Value,County Order Status,Quarter
0,1,Alabama,1001,Autauga,20200315,7,Mandatory - all people (7),20200315
1,1,Alabama,1001,Autauga,20200316,7,Mandatory - all people (7),20200316
2,1,Alabama,1001,Autauga,20200317,7,Mandatory - all people (7),20200317
3,1,Alabama,1001,Autauga,20200318,7,Mandatory - all people (7),20200318
4,1,Alabama,1001,Autauga,20200319,7,Mandatory - all people (7),20200319

In [10]:
lockdown_2 = pd.read_csv("./Datasets/lockdown by county pt 2.csv")
lockdown_2.isna().sum()

stateFIPS                    0
State                        0
countyFIPS                   0
County                       0
Year                         0
Value                        0
Data Comment            480726
County Order Status          0
Quarter                      0
Unnamed: 9              480726
dtype: int64

### CDC Lockdown Part 2 Dataset

In [11]:
## Clean lockdown_part2 dataset
# Select certain columns
# lockdown_2 = [""]
# select_lockdown_2_df = lockdown_2[lockdown_2_columns]

# Or drop columns we aren't using
lockdown_2 = lockdown_2.drop(columns = ["Data Comment", "Unnamed: 9"])
lockdown_2.head()

,stateFIPS,State,countyFIPS,County,Year,Value,County Order Status,Quarter
0,1,Alabama,1001,Autauga,20200801,6,Mandatory - all people in certain areas of sta...,20200801
1,1,Alabama,1001,Autauga,20200802,6,Mandatory - all people in certain areas of sta...,20200802
2,1,Alabama,1001,Autauga,20200803,6,Mandatory - all people in certain areas of sta...,20200803
3,1,Alabama,1001,Autauga,20200804,6,Mandatory - all people in certain areas of sta...,20200804
4,1,Alabama,1001,Autauga,20200805,6,Mandatory - all people in certain areas of sta...,20200805

### Combining Lockdown Datasets

In [53]:
# Appending lists together
lockdown = lockdown_1.append(lockdown_2,ignore_index = True)
# Sorting lists by 'State', 'County', and 'Year'
lockdown = lockdown.sort_values(["State","County","Year"])
# Reseting Index
lockdown = sorted_lockdown.reset_index()
lockdown.head()

,index,stateFIPS,State,countyFIPS,County,Year,Value,County Order Status,Quarter
0,0,1,Alabama,1001,Autauga,20200315,7,Mandatory - all people (7),20200315
1,1,1,Alabama,1001,Autauga,20200316,7,Mandatory - all people (7),20200316
2,2,1,Alabama,1001,Autauga,20200317,7,Mandatory - all people (7),20200317
3,3,1,Alabama,1001,Autauga,20200318,7,Mandatory - all people (7),20200318
4,4,1,Alabama,1001,Autauga,20200319,7,Mandatory - all people (7),20200319
...,...,...,...,...,...,...,...,...,...
195,436794,1,Alabama,1001,Autauga,20200926,6,Mandatory - all people in certain areas of sta...,20200926
196,436795,1,Alabama,1001,Autauga,20200927,6,Mandatory - all people in certain areas of sta...,20200927
197,436796,1,Alabama,1001,Autauga,20200928,6,Mandatory - all people in certain areas of sta...,20200928
198,436797,1,Alabama,1001,Autauga,20200929,6,Mandatory - all people in certain areas of sta...,20200929
199,436798,1,Alabama,1001,Autauga,20200930,6,Mandatory - all people in certain areas of sta...,20200930

### Game Sales Dataset

In [47]:
# Converts USD Values to floats
def convertmillions(string):
    string = string.strip()
    string = string.replace('m', '')
    string = string.replace(',','.')
    return float(string)

In [49]:
gamesales_df = pd.read_csv("./Datasets/gamesales.csv")
# Filters all negative amounts
gamesales_df = gamesales_df[gamesales_df['Amount (USD millions)'] != '-1']
# Applies convertmillions function
gamesales_df['Amount (USD millions)'] = gamesales_df['Amount (USD millions)'].apply(convertmillions)
gamesales_df

        Month  Year  Amount (USD millions)
0     January  2021                  4.172
1     January  2020                311.000
2     January  2019                451.000
3    February  2021                  3.998
4    February  2020                307.000
5    February  2019                477.000
6       March  2021                  4.628
7       March  2020                739.000
8       March  2019                550.000
10      April  2020                662.000
11      April  2019                428.000
13        May  2020                438.000
14        May  2019                262.000
16       June  2020                570.000
17       June  2019                382.000
19       July  2020                  3.251
20       July  2019                  2.426
22     August  2020                  2.935
23     August  2019                  2.147
25  September  2020                  3.841
26  September  2019                  3.541
28    October  2020                  3.429
29    October  2019                  3.054
31   November  2020                  5.244
32   November  2019                  3.974
34   December  2020                  5.806
35   December  2019                  4.732